.securimage-captcha {
	float: left
}
.securimage-reload {
	width: 20px;
	height: 20px;
	background: url(../images/btn.png);
	float: left;
	margin: 2px
}
.securimage-reload:hover {
	background-position: 0 20px
}